
<%- include('./headers/headers.ejs'); -%>
    <!-- Breadcrumb Section Start -->
    <div class="section breadcrumb-section bg-name-primary">
        <div class="layer shape-1"></div>
        <div class="container section-padding">
            <div class="row">
                <div class="col-12 align-items-center text-center">
                    <!-- Breadcrumb Wrapper Start -->
                    <div class="breadcrumb-wrapper">
                        <h1 class="title">About Neonal</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                    <!-- Breadcrumb Wrapper End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Service Section Start -->
    <div class="section section-margin">
        <div class="custom-large-container container">
            <div class="row m-b-n30">
                <div class="col-12" data-aos="fade-up" data-aos-duration="1100">
                    <div class="service-long-title text-center">
                        <h2 class="title"> <span class="text-style" data-splitting data-aos="zoom-in" data-aos-duration="2000">Neonal</span> always carefully helping patients. <br> So, it’s a truested healthcare <span class="text-style word-wave" data-splitting="words" data-aos="zoom-in" data-aos-duration="2000">for your family.</span></h2>
                    </div>
                </div>

                <div class="col-12 col-lg-6 col-el-4 m-b-30" data-aos="fade-up" data-aos-duration="1100">

                    <!-- Single Service Start -->
                    <div class="single-service">

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-thumb">
                            <div class="rotate-around success">
                                <span></span>
                            </div>
                            <img src="assets/images/icon/3.png" alt="Icon">
                        </div>
                        <!-- Single Service Thumb End -->

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-title">
                            <h2 class="title"><a href="service-details.html">Professional Staff</a></h2>
                        </div>
                        <!-- Single Service Thumb End -->
                    </div>
                    <!-- Single Service End -->

                </div>

                <div class="col-12 col-lg-6 col-el-4 m-b-30" data-aos="fade-up" data-aos-duration="1200">

                    <!-- Single Service Start -->
                    <div class="single-service">

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-thumb">
                            <div class="rotate-around success">
                                <span></span>
                            </div>
                            <img src="assets/images/icon/4.png" alt="Icon">
                        </div>
                        <!-- Single Service Thumb End -->

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-title">
                            <h2 class="title"><a href="service-details.html">Affordable Prices</a></h2>
                        </div>
                        <!-- Single Service Thumb End -->
                    </div>
                    <!-- Single Service End -->

                </div>

                <div class="col-12 col-lg-6 col-el-4 m-b-30" data-aos="fade-up" data-aos-duration="1300">

                    <!-- Single Service Start -->
                    <div class="single-service">

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-thumb">
                            <div class="rotate-around success">
                                <span></span>
                            </div>
                            <img src="assets/images/icon/5.png" alt="Icon">
                        </div>
                        <!-- Single Service Thumb End -->

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-title">
                            <h2 class="title"><a href="service-details.html">Insurance Partners</a></h2>
                        </div>
                        <!-- Single Service Thumb End -->
                    </div>
                    <!-- Single Service End -->

                </div>

                <div class="col-12 col-lg-6 col-el-4 m-b-30" data-aos="fade-up" data-aos-duration="1400">

                    <!-- Single Service Start -->
                    <div class="single-service">

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-thumb">
                            <div class="rotate-around success">
                                <span></span>
                            </div>
                            <img src="assets/images/icon/6.png" alt="Icon">
                        </div>
                        <!-- Single Service Thumb End -->

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-title">
                            <h2 class="title"><a href="service-details.html">24/07 Support</a></h2>
                        </div>
                        <!-- Single Service Thumb End -->
                    </div>
                    <!-- Single Service End -->

                </div>

                <div class="col-12 col-lg-6 col-el-4 m-b-30" data-aos="fade-up" data-aos-duration="1500">

                    <!-- Single Service Start -->
                    <div class="single-service">

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-thumb">
                            <div class="rotate-around success">
                                <span></span>
                            </div>
                            <img src="assets/images/icon/7.png" alt="Icon">
                        </div>
                        <!-- Single Service Thumb End -->

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-title">
                            <h2 class="title"><a href="service-details.html">Emergency Service</a></h2>
                        </div>
                        <!-- Single Service Thumb End -->
                    </div>
                    <!-- Single Service End -->

                </div>

                <div class="col-12 col-lg-6 col-el-4 m-b-30" data-aos="fade-up" data-aos-duration="1600">

                    <!-- Single Service Start -->
                    <div class="single-service">

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-thumb">
                            <div class="rotate-around success">
                                <span></span>
                            </div>
                            <img src="assets/images/icon/8.png" alt="Icon">
                        </div>
                        <!-- Single Service Thumb End -->

                        <!-- Single Service Thumb Start -->
                        <div class="single-service-title">
                            <h2 class="title"><a href="service-details.html">Online Consultancy</a></h2>
                        </div>
                        <!-- Single Service Thumb End -->
                    </div>
                    <!-- Single Service End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Service Section End -->

    <!-- About Section Start -->
    <div class="section about-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- About Wrapper Start -->
                    <div class="about-wrapper">

                        <!-- Content Left Side Start -->
                        <div class="content-left-side about-left-side bg-name-success" data-aos="fade-up" data-aos-duration="1100">
                            <h2 class="title">Neonal medical care have 35 years of experience.</h2>
                            <span></span>
                            <p>Lorem Ipsum is simply dummy text they are printing typesetting has been the standard.</p>
                        </div>
                        <!-- Content Left Side End -->

                        <!-- About Right Side Start -->
                        <div class="about-right-side bg-name-primary">
                            <div class="single-about" data-aos="fade-up" data-aos-duration="1100">
                                <div class="icon-title">
                                    <div class="icon">
                                        <img src="assets/images/icon/1.png" alt="About Icon">
                                    </div>
                                    <h4 class="title">Our Mission</h4>
                                </div>
                                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
                            </div>
                            <div class="single-about border-0 m-0 p-0" data-aos="fade-up" data-aos-duration="1300">
                                <div class="icon-title">
                                    <div class="icon">
                                        <img src="assets/images/icon/2.png" alt="About Icon">
                                    </div>
                                    <h4 class="title">Our Vission</h4>
                                </div>
                                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
                            </div>
                        </div>
                        <!-- About Right Side End -->

                    </div>
                    <!-- About Wrapper End -->

                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <!-- Team Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">
                    <div class="section-title text-center">
                        <h2 class="title">Professional Doctors</h2>
                        <div class="border-wrap">
                            <span class="title-border border-color-1"></span>
                            <span class="title-border border-color-2"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center  m-b-n30">

                <div class="col-lg-6 m-b-30" data-aos="fade-up" data-aos-duration="2400">

                    <!-- Single Team Start -->
                    <div class="single-team team-bg-seashell">

                        <!-- Team Thumb Start -->
                        <div class="team-thumb">
                            <img class="fit-image" src="assets/images/team/1.jpg" alt="Team Image">
                        </div>
                        <!-- Team Thumb End -->

                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h2 class="title">Ronald Hudson</h2>
                            <h4 class="subtitle">Cardiology Specialist</h4>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industryS standard.</p>
                            <div class="social-share">
                                <span class="social-title">Follow Now:</span>
                                <ul>
                                    <li><a href="#/"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#/"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#/"><i class="icofont-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Content End -->

                    </div>
                    <!-- Single Team End -->

                </div>

                <div class="col-lg-6 m-b-30" data-aos="fade-up" data-aos-duration="2400">

                    <!-- Single Team Start -->
                    <div class="single-team team-bg-seashell">

                        <!-- Team Thumb Start -->
                        <div class="team-thumb">
                            <img class="fit-image" src="assets/images/team/2.jpg" alt="Team Image">
                        </div>
                        <!-- Team Thumb End -->

                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h2 class="title">Willene Whited</h2>
                            <h4 class="subtitle">Cardiology Specialist</h4>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industryS standard.</p>
                            <div class="social-share">
                                <span class="social-title">Follow Now:</span>
                                <ul>
                                    <li><a href="#/"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#/"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#/"><i class="icofont-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Content End -->

                    </div>
                    <!-- Single Team End -->

                </div>

                <div class="col-lg-6 m-b-30" data-aos="fade-up" data-aos-duration="2400">

                    <!-- Single Team Start -->
                    <div class="single-team team-bg-seashell">

                        <!-- Team Thumb Start -->
                        <div class="team-thumb">
                            <img class="fit-image" src="assets/images/team/3.jpg" alt="Team Image">
                        </div>
                        <!-- Team Thumb End -->

                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h2 class="title">Magali Mcintire</h2>
                            <h4 class="subtitle">Cardiology Specialist</h4>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industryS standard.</p>
                            <div class="social-share">
                                <span class="social-title">Follow Now:</span>
                                <ul>
                                    <li><a href="#/"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#/"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#/"><i class="icofont-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Content End -->

                    </div>
                    <!-- Single Team End -->

                </div>

                <div class="col-lg-6 m-b-30" data-aos="fade-up" data-aos-duration="2400">

                    <!-- Single Team Start -->
                    <div class="single-team team-bg-seashell">

                        <!-- Team Thumb Start -->
                        <div class="team-thumb">
                            <img class="fit-image" src="assets/images/team/4.jpg" alt="Team Image">
                        </div>
                        <!-- Team Thumb End -->

                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h2 class="title">Alease England</h2>
                            <h4 class="subtitle">Cardiology Specialist</h4>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industryS standard.</p>
                            <div class="social-share">
                                <span class="social-title">Follow Now:</span>
                                <ul>
                                    <li><a href="#/"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#/"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#/"><i class="icofont-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Content End -->

                    </div>
                    <!-- Single Team End -->

                </div>

            </div>
        </div>
    </div>
    <!-- Team Section End -->

    <!-- Testimonial Section Start -->
    <div class="section section-padding bg-name-seashell">
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up" data-aos-duration="1500">
                    <div class="section-title text-center">
                        <h2 class="title">Patients Talk About Us</h2>
                        <div class="border-wrap">
                            <span class="title-border border-color-1"></span>
                            <span class="title-border border-color-2"></span>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center">

                    <!-- Testimonial Carousel Start -->
                    <div class="testimonial-carousel swiper-container">

                        <div class="swiper-wrapper">

                            <div class="swiper-slide">

                                <!-- Single Testimonial Start -->
                                <div class="single-testimonial">

                                    <!-- Testimonial Thumb Start -->
                                    <div class="testimonial-thumb" data-aos="fade-up" data-aos-duration="1500">
                                        <img src="assets/images/person/testimonial-1.png" alt="Testimonial Image">
                                        <div class="thumb-quote">
                                            <i class="icofont-quote-left"></i>
                                        </div>
                                    </div>
                                    <!-- Testimonial Thumb End -->

                                    <!-- Testimonial Content Start -->
                                    <div class="testimonial-content" data-aos="fade-up" data-aos-duration="2500">
                                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make type specimen book has survived not only five centuries.</p>
                                        <span></span>
                                        <h3 class="title">Ricardo Massey</h3>
                                        <div class="subtitle">Web Developer</div>
                                    </div>
                                    <!-- Testimonial Content End -->

                                </div>
                                <!-- Single Testimonial End -->

                            </div>

                        </div>

                        <div class="testimonial-nav-button">
                            <div class="swiper-nav-button swiper-button-prev d-flex"><i class="icofont-double-left"></i></div>
                            <div class="swiper-nav-button swiper-button-next d-flex"><i class="icofont-double-right"></i></div>
                        </div>

                    </div>
                    <!-- Testimonial Carousel End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial Section End -->

    <!-- Appoinment Section Start -->
    <div class="section section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-items-center">
                    <div class="appoinment-section bg-name-success">
                        <div class="layer-4 shape-5"></div>
                        <div class="layer-4 shape-6"></div>
                        <div class="layer-4 shape-7"></div>
                        <div class="appoinment-wrapper">
                            <div class="appoinment-content" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="title">You can contact for appoinment.</h2>
                            </div>
                            <div class="appoinment-info-wrapper">
                                <div class="contact-info" data-aos="flip-left" data-aos-duration="2000">
                                    <div class="icon-box">
                                        <i class="round-shape round-shape-negative icofont-ui-call"></i>
                                    </div>
                                    <div class="info">
                                        <h5 class="title">Call us:</h5>
                                        <a class="number" href="tel:+0089458648">+00 89 458 648</a>
                                    </div>
                                </div>
                                <div class="contact-info" data-aos="flip-right" data-aos-duration="2000">
                                    <div class="icon-box">
                                        <i class="round-shape icofont-envelope-open"></i>
                                    </div>
                                    <div class="info">
                                        <h5 class="title">Email us:</h5>
                                        <a class="number" href="mailto:neonal@gmail.com">neonal@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Appoinment Section End -->

   
    <%- include('./footer/footer.ejs'); -%>