
  <%- include('./headers/headers'); -%>

    <!-- Breadcrumb Section Start -->
    <div class="section breadcrumb-section bg-name-primary">
        <div class="layer shape-1"></div>
        <div class="container section-padding">
            <div class="row">
                <div class="col-12 align-items-center text-center">
                    <!-- Breadcrumb Wrapper Start -->
                    <div class="breadcrumb-wrapper">
                        <h1 class="title">Blog Grid</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li>Blog</li>
                        </ul>
                    </div>
                    <!-- Breadcrumb Wrapper End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Blog Grid section Start -->
    <div class="section section-margin-top">
        <div class="container">
            <div class="row m-b-n40">
                <div class="col-lg-4 col-md-6 m-b-40">
                    <!-- Single Blog Start -->
                    <div class="single-blog" data-aos="fade-up" data-aos-duration="1500">
                        <!-- Blog Thumb Start -->
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img class="fit-image" src="assets/images/blog/blog-grid/9.jpg" alt="Blog Image"></a>
                        </div>
                        <!-- Blog Thumb End -->

                        <!-- Blog Content Start -->
                        <div class="blog-content">
                            <span class="subtitle">Medical</span>
                            <h2 class="title"><a href="blog-details.html">See their doctor for many different...</a></h2>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industry standard.</p>
                            <div class="meta">
                                <span>09 March, 2021</span>
                            </div>
                        </div>
                        <!-- Blog Content End -->
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6 m-b-40">
                    <!-- Single Blog Start -->
                    <div class="single-blog" data-aos="fade-up" data-aos-duration="2500">
                        <!-- Blog Thumb Start -->
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img class="fit-image" src="assets/images/blog/blog-grid/1.jpg" alt="Blog Image"></a>
                        </div>
                        <!-- Blog Thumb End -->

                        <!-- Blog Content Start -->
                        <div class="blog-content">
                            <span class="subtitle">Medical</span>
                            <h2 class="title"><a href="blog-details.html">How often should you get a medical...</a></h2>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industry standard.</p>
                            <div class="meta">
                                <span>09 March, 2021</span>
                            </div>
                        </div>
                        <!-- Blog Content End -->
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6 m-b-40">
                    <!-- Single Blog Start -->
                    <div class="single-blog" data-aos="fade-up" data-aos-duration="1500">
                        <!-- Blog Thumb Start -->
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img class="fit-image" src="assets/images/blog/blog-grid/2.jpg" alt="Blog Image"></a>
                        </div>
                        <!-- Blog Thumb End -->

                        <!-- Blog Content Start -->
                        <div class="blog-content">
                            <span class="subtitle">Health</span>
                            <h2 class="title"><a href="blog-details.html">Negative statin stories add to heart...</a></h2>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industry standard.</p>
                            <div class="meta">
                                <span>13 June, 2021</span>
                            </div>
                        </div>
                        <!-- Blog Content End -->
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6 m-b-40">
                    <!-- Single Blog Start -->
                    <div class="single-blog" data-aos="fade-up" data-aos-duration="2500">
                        <!-- Blog Thumb Start -->
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img class="fit-image" src="assets/images/blog/blog-grid/3.jpg" alt="Blog Image"></a>
                        </div>
                        <!-- Blog Thumb End -->

                        <!-- Blog Content Start -->
                        <div class="blog-content">
                            <span class="subtitle">Medicine</span>
                            <h2 class="title"><a href="blog-details.html">Lung cancer survival rate improves...</a></h2>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industry standard.</p>
                            <div class="meta">
                                <span>22 February, 2021</span>
                            </div>
                        </div>
                        <!-- Blog Content End -->
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6 m-b-40">
                    <!-- Single Blog Start -->
                    <div class="single-blog" data-aos="fade-up" data-aos-duration="1500">
                        <!-- Blog Thumb Start -->
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img class="fit-image" src="assets/images/blog/blog-grid/4.jpg" alt="Blog Image"></a>
                        </div>
                        <!-- Blog Thumb End -->

                        <!-- Blog Content Start -->
                        <div class="blog-content">
                            <span class="subtitle">Neurology</span>
                            <h2 class="title"><a href="blog-details.html">Protecting the brain from Parkinson...</a></h2>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industry standard.</p>
                            <div class="meta">
                                <span>18 May, 2021</span>
                            </div>
                        </div>
                        <!-- Blog Content End -->
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6 m-b-40">
                    <!-- Single Blog Start -->
                    <div class="single-blog" data-aos="fade-up" data-aos-duration="1500">
                        <!-- Blog Thumb Start -->
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img class="fit-image" src="assets/images/blog/blog-grid/5.jpg" alt="Blog Image"></a>
                        </div>
                        <!-- Blog Thumb End -->

                        <!-- Blog Content Start -->
                        <div class="blog-content">
                            <span class="subtitle">Doctor</span>
                            <h2 class="title"><a href="blog-details.html">Why online doctor ratings are good...</a></h2>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industry standard.</p>
                            <div class="meta">
                                <span>14 April, 2021</span>
                            </div>
                        </div>
                        <!-- Blog Content End -->
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6 m-b-40">
                    <!-- Single Blog Start -->
                    <div class="single-blog" data-aos="fade-up" data-aos-duration="1500">
                        <!-- Blog Thumb Start -->
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img class="fit-image" src="assets/images/blog/blog-grid/6.jpg" alt="Blog Image"></a>
                        </div>
                        <!-- Blog Thumb End -->

                        <!-- Blog Content Start -->
                        <div class="blog-content">
                            <span class="subtitle">Neurology</span>
                            <h2 class="title"><a href="blog-details.html">Early stages of brain and heart disease</a></h2>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industry standard.</p>
                            <div class="meta">
                                <span>15 July, 2021</span>
                            </div>
                        </div>
                        <!-- Blog Content End -->
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6 m-b-40">
                    <!-- Single Blog Start -->
                    <div class="single-blog" data-aos="fade-up" data-aos-duration="1500">
                        <!-- Blog Thumb Start -->
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img class="fit-image" src="assets/images/blog/blog-grid/7.jpg" alt="Blog Image"></a>
                        </div>
                        <!-- Blog Thumb End -->

                        <!-- Blog Content Start -->
                        <div class="blog-content">
                            <span class="subtitle">Medical</span>
                            <h2 class="title"><a href="blog-details.html">Study on risk factor for breast cancer.</a></h2>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industry standard.</p>
                            <div class="meta">
                                <span>11 April, 2021</span>
                            </div>
                        </div>
                        <!-- Blog Content End -->
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6 m-b-40">
                    <!-- Single Blog Start -->
                    <div class="single-blog" data-aos="fade-up" data-aos-duration="2500">
                        <!-- Blog Thumb Start -->
                        <div class="blog-thumb">
                            <a href="blog-details.html"><img class="fit-image" src="assets/images/blog/blog-grid/8.jpg" alt="Blog Image"></a>
                        </div>
                        <!-- Blog Thumb End -->

                        <!-- Blog Content Start -->
                        <div class="blog-content">
                            <span class="subtitle">Medicine</span>
                            <h2 class="title"><a href="blog-details.html">Lung cancer survival rate improves...</a></h2>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industry standard.</p>
                            <div class="meta">
                                <span>22 February, 2021</span>
                            </div>
                        </div>
                        <!-- Blog Content End -->
                    </div>
                    <!-- Single Blog End -->
                </div>
            </div>

            <div class="row">
                <div class="col-12" data-aos="fade-up" data-aos-duration="2400">

                    <!-- Pagination Start -->
                    <nav class="pagination-wrapper">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#/">01</a></li>
                            <li class="page-item"><a class="page-link" href="#/">02</a></li>
                            <li class="page-item"><a class="page-link active" href="#/">03</a></li>
                            <li class="page-item">
                                <a class="page-link rounded-0" href="#/" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Pagination End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Blog Grid section End -->

    <!-- Appoinment Section Start -->
    <div class="section section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-items-center">
                    <div class="appoinment-section bg-name-success">
                        <div class="layer-4 shape-5"></div>
                        <div class="layer-4 shape-6"></div>
                        <div class="layer-4 shape-7"></div>
                        <div class="appoinment-wrapper">
                            <div class="appoinment-content" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="title">You can contact for appoinment.</h2>
                            </div>
                            <div class="appoinment-info-wrapper">
                                <div class="contact-info" data-aos="flip-left" data-aos-duration="2000">
                                    <div class="icon-box">
                                        <i class="round-shape round-shape-negative icofont-ui-call"></i>
                                    </div>
                                    <div class="info">
                                        <h5 class="title">Call us:</h5>
                                        <a class="number" href="tel:+0089458648">+00 89 458 648</a>
                                    </div>
                                </div>
                                <div class="contact-info" data-aos="flip-right" data-aos-duration="2000">
                                    <div class="icon-box">
                                        <i class="round-shape icofont-envelope-open"></i>
                                    </div>
                                    <div class="info">
                                        <h5 class="title">Email us:</h5>
                                        <a class="number" href="mailto:neonal@gmail.com">neonal@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Appoinment Section End -->

  <%- include('./footer/footer'); -%>