
<%- include('./headers/headers.ejs'); -%>
    <!-- Breadcrumb Section Start -->
    <div class="section breadcrumb-section bg-name-primary">
        <div class="layer shape-1"></div>
        <div class="container section-padding">
            <div class="row">
                <div class="col-12 align-items-center text-center">
                    <!-- Breadcrumb Wrapper Start -->
                    <div class="breadcrumb-wrapper">
                        <h1 class="title">Blog Details</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li>Blog Details</li>
                        </ul>
                    </div>
                    <!-- Breadcrumb Wrapper End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Blog Details section Start -->
    <div class="section section-margin">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Content With Sidebar Start -->
                    <div class="content-sidebar-area">

                        <!-- Sidebar Widget Start -->
                        <aside class="sidebar_widget order-2 order-lg-2">
                            <div class="widget-list p-b-50" data-aos="fade-up" data-aos-duration="1200">
                                <div class="search-box">
                                    <input type="text" class="search-form" placeholder="Search Our Store" aria-label="Search Here">
                                    <button class="search-icon" type="button">
                                        <i class="icofont-search-2"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="widget-list p-b-50" data-aos="fade-up" data-aos-duration="1400">
                                <h3 class="widget-title">Category</h3>
                                <div class="sidebar-body">
                                    <ul class="sidebar-list">
                                        <li>
                                            <a href="#/">Gastroenterology</a>
                                            <button class="cat-icon">
                                                <i class="icofont-rounded-double-right"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#/">Pulmonology</a>
                                            <button class="cat-icon">
                                                <i class="icofont-rounded-double-right"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#/">Gynecology</a>
                                            <button class="cat-icon">
                                                <i class="icofont-rounded-double-right"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#/">Neurology</a>
                                            <button class="cat-icon">
                                                <i class="icofont-rounded-double-right"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#/">Ophthalmology</a>
                                            <button class="cat-icon">
                                                <i class="icofont-rounded-double-right"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget-list p-b-50" data-aos="fade-up" data-aos-duration="1600">
                                <h3 class="widget-title">Recent Post</h3>
                                <div class="sidebar-body m-b-n20">

                                    <!-- Single Sidebar Post Start -->
                                    <div class="single-sidebar-post m-b-20">
                                        <div class="sidebar-post-thumb">
                                            <a href="blog-details.html"><img src="assets/images/blog/post/1.jpg" alt="Blog Post Image"></a>
                                        </div>
                                        <div class="sidebar-post-content">
                                            <span>11 March, 2021</span>
                                            <h4 class="title"> <a href="blog-details.html">Simple Dummy text for Printing</a></h4>
                                        </div>
                                    </div>
                                    <!-- Single Sidebar Post End -->

                                    <!-- Single Sidebar Post Start -->
                                    <div class="single-sidebar-post m-b-20">
                                        <div class="sidebar-post-thumb">
                                            <a href="blog-details.html"><img src="assets/images/blog/post/2.jpg" alt="Blog Post Image"></a>
                                        </div>
                                        <div class="sidebar-post-content">
                                            <span>11 March, 2021</span>
                                            <h4 class="title"> <a href="blog-details.html">Test Dummy text for Printing</a></h4>
                                        </div>
                                    </div>
                                    <!-- Single Sidebar Post End -->

                                    <!-- Single Sidebar Post Start -->
                                    <div class="single-sidebar-post m-b-20">
                                        <div class="sidebar-post-thumb">
                                            <a href="blog-details.html"><img src="assets/images/blog/post/3.jpg" alt="Blog Post Image"></a>
                                        </div>
                                        <div class="sidebar-post-content">
                                            <span>20 May, 2021</span>
                                            <h4 class="title"> <a href="blog-details.html">Blog Dummy text for Printing</a></h4>
                                        </div>
                                    </div>
                                    <!-- Single Sidebar Post End -->

                                    <!-- Single Sidebar Post Start -->
                                    <div class="single-sidebar-post m-b-20">
                                        <div class="sidebar-post-thumb">
                                            <a href="blog-details.html"><img src="assets/images/blog/post/4.jpg" alt="Blog Post Image"></a>
                                        </div>
                                        <div class="sidebar-post-content">
                                            <span>18 June, 2021</span>
                                            <h4 class="title"> <a href="blog-details.html">Simple Dummy text for Blog</a></h4>
                                        </div>
                                    </div>
                                    <!-- Single Sidebar Post End -->

                                </div>
                            </div>
                            <div class="widget-list" data-aos="fade-up" data-aos-duration="1800">
                                <h3 class="widget-title">Popular Tags</h3>
                                <div class="sidebar-body">
                                    <ul class="widget-tags">
                                        <li><a href="#/">Medical</a></li>
                                        <li><a href="#/">Pregnancy Care</a></li>
                                        <li><a href="#/">Medical Service</a></li>
                                        <li><a href="#/">Dental</a></li>
                                        <li><a href="#/">Surgical</a></li>
                                        <li><a href="#/">Health Care</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                        <!-- Sidebar Widget End -->

                        <!-- Sidebar Opposite Wrapper Start -->
                        <div class="sidebar-opposite-wrapper order-1 order-lg-1">

                            <!-- Blog Details Content Start -->
                            <div class="blog-details-content" data-aos="fade-up" data-aos-duration="1800">

                                <h2 class="title">It was popularised in the 1960s with the released of sheet.</h2>

                                <ul class="details-meta" data-aos="fade-up" data-aos-duration="1800">
                                    <li>
                                        <h4 class="meta-title">Neurology</h4>
                                    </li>
                                    <li><span>By: Ricardo Black </span> | <span class="meta-date"> 24 Feb, 2021</span></li>
                                </ul>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standad when an unknown print took a galley of type and scrambled it to make a type specimen book. Itter has survived not onlye electronic typesetting, remaining essentially.</p>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standad when an unknown print took a galley of type and scrambled it to make a type specimen book. Itter has survived not onlye electronic typesetting, remaining essentially.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standad when an unknown print took a galley of type and scrambled it to make a type specimen book. Itter has survived not onlye electronic typesetting, remaining essentially.</p>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standad when an unknown print took a galley of type and scrambled it to make a type specimen book. Itter has survived not onlye electronic typesetting, remaining essentially.</p>

                                <img src="assets/images/blog/05_Blog_Details.jpg" alt="Blog Details Image" data-aos="fade-up" data-aos-duration="1800">

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standad when an unknown print took a galley of type and scrambled it to make a type specimen book. Itter has survived not onlye electronic typesetting, remaining essentially.</p>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standad when an unknown print took a galley of type and scrambled it to make a type specimen book. Itter has survived not onlye electronic typesetting, remaining essentially.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standad when an unknown print took a galley of type and scrambled it to make a type specimen book. Itter has survived not onlye electronic typesetting, remaining essentially.</p>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standad when an unknown print took a galley of type and scrambled it to make a type specimen book. Itter has survived not onlye electronic typesetting, remaining essentially.</p>

                                <div class="blockquote-area" data-aos="fade-up" data-aos-duration="1800">
                                    <blockquote class="blockquote">
                                        <p>Lorem Ipsum is simply dummy text the printing typesetting has been the industry's standad when an unknown print took scrambled it to make a type specimen book.</p>
                                        <div class="icon">”</div>
                                    </blockquote>
                                </div>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standad when an unknown print took a galley of type and scrambled it to make a type specimen book. Itter has survived not onlye electronic typesetting, remaining essentially.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standad when an unknown print took a galley of type and scrambled it to make a type specimen book. Itter has survived not onlye electronic typesetting, remaining essentially.</p>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standad when an unknown print took a galley of type and scrambled it to make a type specimen book. Itter has survived not onlye electronic typesetting, remaining essentially.</p>

                            </div>
                            <!-- Blog Details Content End -->

                            <!-- Blog Details Tags & Shear Start -->
                            <div class="blog-details-tags-share" data-aos="fade-up" data-aos-duration="1200">
                                <div class="blog-details-tags">
                                    <span class="lable">Tags: </span>
                                    <ul>
                                        <li><a href="#/">Neorology</a></li>
                                        <li><a href="#/">Doctor</a></li>
                                        <li><a href="#/">Gastrology</a></li>
                                    </ul>
                                </div>
                                <div class="blog-details-share">
                                    <span class="lable">Share: </span>
                                    <ul>
                                        <li><a href="#/"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#/"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#/"><i class="icofont-skype"></i></a></li>
                                        <li><a href="#/"><i class="icofont-google-talk"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Blog Details Tags & Shear End -->

                            <!-- Comments Area Start -->
                            <div class="comment-area">

                                <!-- Comment Content Start -->
                                <div class="comment-content">

                                    <h2 class="title" data-aos="fade-up" data-aos-duration="1100">Comments</h2>

                                    <!-- Single Comment Start -->
                                    <div class="single-comment" data-aos="fade-up" data-aos-duration="1200">

                                        <div class="author-thumb">
                                            <img src="assets/images/person/blog-author-1.jpg" alt="Blog Author Image">
                                        </div>

                                        <div class="author-details">

                                            <div class="author-name-subtitle">
                                                <span class="name">Robyn Banks, </span>
                                                <div class="subtitle">Web Designer</div>
                                            </div>

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when an unknown print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>

                                            <a href="#/" class="btn-replay"><i class="icofont-reply"></i> Reply</a>

                                        </div>
                                    </div>
                                    <!-- Single Comment End -->

                                    <!-- Single Comment Start -->
                                    <div class="single-comment single-subcontent" data-aos="fade-up" data-aos-duration="1400">

                                        <div class="author-thumb">
                                            <img src="assets/images/person/blog-author-2.jpg" alt="Blog Author Image">
                                        </div>

                                        <div class="author-details">

                                            <div class="author-name-subtitle">
                                                <span class="name">Martin Wong, </span>
                                                <div class="subtitle">Web Designer</div>
                                            </div>

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting been when an unknown print took a galley of type and scrambed it make type electronic typesetting, remaining essentially.</p>

                                            <a href="#/" class="btn-replay"><i class="icofont-reply"></i> Reply</a>

                                        </div>
                                    </div>
                                    <!-- Single Comment End -->

                                    <!-- Single Comment Start -->
                                    <div class="single-comment" data-aos="fade-up" data-aos-duration="1800">

                                        <div class="author-thumb">
                                            <img src="assets/images/person/blog-author-3.jpg" alt="Blog Author Image">
                                        </div>

                                        <div class="author-details">

                                            <div class="author-name-subtitle">
                                                <span class="name">Kayla Alexander, </span>
                                                <div class="subtitle">Web Designer</div>
                                            </div>

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when an unknown print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>

                                            <a href="#/" class="btn-replay"><i class="icofont-reply"></i> Reply</a>

                                        </div>
                                    </div>
                                    <!-- Single Comment End -->

                                </div>
                                <!-- Comment Content End -->

                                <!-- Comment Form Start -->
                                <div class="comment-form">
                                    <h3 class="title" data-aos="fade-up" data-aos-duration="1800">Leave a comment</h3>
                                    <!-- Start Contact Form Box -->
                                    <div class="contact-form-box">
                                        <form id="contact-form" class="default-form contact-form" action="#" method="post">
                                            <div class="row">
                                                <div class="col-lg-6 m-b-30" data-aos="fade-up" data-aos-duration="1100">
                                                    <div class="default-form-group">
                                                        <input name="name" type="text" placeholder="Name :" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 m-b-30" data-aos="fade-up" data-aos-duration="1300">
                                                    <div class="default-form-group">
                                                        <input name="email" type="email" placeholder="Email :" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 m-b-30" data-aos="fade-up" data-aos-duration="1700">
                                                    <div class="default-form-group">
                                                        <textarea name="message" placeholder="Comment" rows="10" cols="50" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12 m-t-20" data-aos="fade-up" data-aos-duration="1800">
                                                    <div class="default-form-group d-flex justify-content-center">
                                                        <a href="#/" class="btn btn-outline-success btn-hover-success">Submit Now<i class="icofont-double-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- End Contact Form Box -->
                                </div>
                                <!-- Comment Form End -->

                            </div>
                            <!-- Comments Area End -->

                        </div>
                        <!-- Sidebar Opposite Wrapper Start -->

                    </div>
                    <!-- Content With Sidebar End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Blog Details section End -->
    <%- include('./footer/footer.ejs'); -%>