
<%- include('./headers/headers.ejs'); -%>

    <!-- Breadcrumb Section Start -->
    <div class="section breadcrumb-section bg-name-primary">
        <div class="layer shape-1"></div>
        <div class="container section-padding">
            <div class="row">
                <div class="col-12 align-items-center text-center">
                    <!-- Breadcrumb Wrapper Start -->
                    <div class="breadcrumb-wrapper">
                        <h1 class="title">Page Not Found</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li>404 Error</li>
                        </ul>
                    </div>
                    <!-- Breadcrumb Wrapper End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Page Not Found Section Start -->
    <div class="section page-not-found-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Page Not Found Wrapper Start -->
                    <div class="page-not-found-wrapper">
                        <div class="content">
                            <h2 class="title">Sorry,</h2>
                            <p>This page is not found.</p>
                        </div>
                        <div class="image">
                            <img src="assets/images/error/1.png" alt="Error 404 Image">
                        </div>
                        <div class="back-button">
                            <a href="index.html" class="btn btn-outline-success btn-hover-primary"><i class="icofont-double-left"></i> Back to Home</a>
                        </div>
                    </div>
                    <!-- Page Not Found Wrapper End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Not Found Section End -->


    <%- include('./footer/footer'); -%>