

<%- include('./headers/headers.ejs'); -%>
    <!-- Breadcrumb Section Start -->
    <div class="section breadcrumb-section bg-name-primary">
        <div class="layer shape-1"></div>
        <div class="container section-padding">
            <div class="row">
                <div class="col-12 align-items-center text-center">
                    <!-- Breadcrumb Wrapper Start -->
                    <div class="breadcrumb-wrapper">
                        <h1 class="title">Question & Answer</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li>FAQ</li>
                        </ul>
                    </div>
                    <!-- Breadcrumb Wrapper End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Faq section Start -->
    <div class="section section-margin">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Content With Sidebar Start -->
                    <div class="content-sidebar-area">

                        <!-- Sidebar Widget Start -->
                        <aside class="sidebar_widget order-2 order-lg-1">
                            <div class="widget-list m-b-50">
                                <div class="search-box">
                                    <input type="text" class="search-form" placeholder="Search Our Store" aria-label="Search Here">
                                    <button class="search-icon" type="button">
                                        <i class="icofont-search-2"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="widget-list">
                                <h3 class="widget-title">Category</h3>
                                <div class="sidebar-body">
                                    <ul class="sidebar-list">
                                        <li>
                                            <a href="#/">Gastroenterology</a>
                                            <button class="cat-icon">
                                                <i class="icofont-rounded-double-right"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#/">Pulmonology</a>
                                            <button class="cat-icon">
                                                <i class="icofont-rounded-double-right"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#/">Gynecology</a>
                                            <button class="cat-icon">
                                                <i class="icofont-rounded-double-right"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#/">Neurology</a>
                                            <button class="cat-icon">
                                                <i class="icofont-rounded-double-right"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#/">Ophthalmology</a>
                                            <button class="cat-icon">
                                                <i class="icofont-rounded-double-right"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                        <!-- Sidebar Widget End -->

                        <!-- Sidebar Opposite Wrapper Start -->
                        <div class="sidebar-opposite-wrapper order-1 order-lg-2">

                            <!-- FAQ Accordion Start -->
                            <div class="accordion faq-accordion" id="accordionExample">
                                <div class="accordion-item m-b-20 rounded-0">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">How can I get an appoinment of neorology doctor?</button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item m-b-20">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Where can get medical services?</button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item m-b-20">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What is the most common cause of mitral stenosis?</button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item m-b-20">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">What does the ECG show in prinzmetal angina?</button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item m-b-20">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">What is the best description of Eisenmenger’s syndrome?</button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item m-b-20 rounded-0">
                                    <h2 class="accordion-header" id="headingSix">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">What is the key complication in the first 24 hours of an MI?</button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.has been industry when unknow print took a galley of type and scrambled it to make a type specimen book electronic typesetting, remaining essentially.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Accordion End -->

                        </div>
                        <!-- Sidebar Opposite Wrapper Start -->

                    </div>
                    <!-- Content With Sidebar End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Faq section End -->

    <!-- Submit Form Section Start -->
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="submit-form-wrapper bg-name-seashell mt-0">
                        <!-- Start Section Content -->
                        <div class="content">
                            <h2 class="title" data-aos="fade-up" data-aos-duration="1100">If you have others question!</h2>
                            <p data-aos="fade-up" data-aos-duration="1800">You can easily drope your question and get answer within 24 hours.</p>
                        </div>
                        <!-- End Section Content -->

                        <!-- Start Contact Form Box -->
                        <div class="contact-form-box">
                            <form id="contact-form" class="default-form contact-form" action="#" method="post">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1100">
                                        <div class="default-form-group">
                                            <input name="name" type="text" placeholder="First Name :" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="default-form-group">
                                            <input name="name" type="text" placeholder="Last Name :" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="default-form-group">
                                            <input name="phone" type="tel" placeholder="Phone :" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1300">
                                        <div class="default-form-group">
                                            <input name="email" type="email" placeholder="Email :" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="default-form-group">
                                            <input name="name" type="text" placeholder="Address :" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1600">
                                        <div class="default-form-group">
                                            <select class="form-select">
                                                <option selected>Subject</option>
                                                <option>Medical Test</option>
                                                <option>Checkup</option>
                                                <option>Medecine</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 m-b-30" data-aos="fade-up" data-aos-duration="1700">
                                        <div class="default-form-group">
                                            <textarea name="message" placeholder="Comment" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 m-t-20" data-aos="fade-up" data-aos-duration="1800">
                                        <div class="default-form-group d-flex justify-content-center">
                                            <a href="#/" class="btn btn-outline-success btn-hover-success">Submit Now<i class="icofont-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- End Contact Form Box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Submit Form Section End -->

    <!-- Appoinment Section Start -->
    <div class="section section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-items-center">
                    <div class="appoinment-section bg-name-success">
                        <div class="layer-4 shape-5"></div>
                        <div class="layer-4 shape-6"></div>
                        <div class="layer-4 shape-7"></div>
                        <div class="appoinment-wrapper">
                            <div class="appoinment-content" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="title">You can contact for appoinment.</h2>
                            </div>
                            <div class="appoinment-info-wrapper">
                                <div class="contact-info" data-aos="flip-left" data-aos-duration="2000">
                                    <div class="icon-box">
                                        <i class="round-shape round-shape-negative icofont-ui-call"></i>
                                    </div>
                                    <div class="info">
                                        <h5 class="title">Call us:</h5>
                                        <a class="number" href="tel:+0089458648">+00 89 458 648</a>
                                    </div>
                                </div>
                                <div class="contact-info" data-aos="flip-right" data-aos-duration="2000">
                                    <div class="icon-box">
                                        <i class="round-shape icofont-envelope-open"></i>
                                    </div>
                                    <div class="info">
                                        <h5 class="title">Email us:</h5>
                                        <a class="number" href="mailto:neonal@gmail.com">neonal@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Appoinment Section End -->

    

    <%- include('./footer/footer'); -%>