
<%- include('./headers/headers.ejs'); -%>
    <!-- Breadcrumb Section Start -->
    <div class="section breadcrumb-section bg-name-primary">
        <div class="layer shape-1"></div>
        <div class="container section-padding">
            <div class="row">
                <div class="col-12 align-items-center text-center">
                    <!-- Breadcrumb Wrapper Start -->
                    <div class="breadcrumb-wrapper">
                        <h1 class="title">Neurological Treatment</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li>Service Details</li>
                        </ul>
                    </div>
                    <!-- Breadcrumb Wrapper End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Service Details Section Start -->
    <div class="section section-margin-top">
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up" data-aos-duration="1100">
                    <div class="service-details-image">
                        <img class="fit-image" src="assets/images/service/service_details.jpg" alt="Service Details Image">
                    </div>
                </div>

                <div class="col-12 col-lg-6 col-xl-7 mb-8" data-aos="fade-up" data-aos-duration="1100">

                    <!-- Service Content Description Start -->
                    <div class="service-details-content">
                        <span class="subtitle">Neorology</span>
                        <h2 class="title">Neurologists manage & treat neurological problems.</h2>
                        <div class="service-desc m-b-20">
                            <p>Lorem Ipsum is simply dummy text the printing and typesetting industry has been industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries also the leap into electronic typesetting.</p>

                            <p>Lorem Ipsum is simply dummy text the printing and typesetting industry has been industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries standard dummy text ever since the 1500s, when an unknown printer took a galley of type also the leap into electronic typesetting.</p>
                        </div>
                    </div>

                    <!-- Service Content Description End -->

                </div>

                <div class="col-12 col-lg-6 col-xl-5 m-b-40" data-aos="fade-up" data-aos-duration="1200">

                    <!-- Service Pricing Start -->
                    <div class="service-pricing bg-name-primary">
                        <h3 class="service-pricing-title">Treatment Pricing</h3>
                        <table class="table table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <td class="title-serv">Echocardiography</td>
                                    <td class="middle-serv">-</td>
                                    <td class="price-serve">$250</td>
                                </tr>
                                <tr>
                                    <td class="title-serv">Allergy testing</td>
                                    <td class="middle-serv">-</td>
                                    <td class="price-serve">$180</td>
                                </tr>
                                <tr>
                                    <td class="title-serv">Treadmill testing</td>
                                    <td class="middle-serv">-</td>
                                    <td class="price-serve">$360</td>
                                </tr>
                                <tr>
                                    <td class="title-serv">Holter monitoring</td>
                                    <td class="middle-serv">-</td>
                                    <td class="price-serve">$240</td>
                                </tr>
                                <tr>
                                    <td class="title-serv">Cardiac ablation</td>
                                    <td class="middle-serv">-</td>
                                    <td class="price-serve">$379</td>
                                </tr>
                                <tr>
                                    <td class="title-serv">Cardiac ablation</td>
                                    <td class="middle-serv">-</td>
                                    <td class="price-serve">$140</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Service Pricing End -->

                </div>

                <div class="col-12" data-aos="fade-up" data-aos-duration="1300">

                    <!-- Service Description Start -->
                    <div class="service-desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essent unchanged. It was popularised in the 1960s with the release of sheets containing.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essent unchanged. It was popularised in the 1960s with the release of sheets containing.</p>
                    </div>
                    <!-- Service Description End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Service Details Section End -->

    <!-- Submit Form Section Start -->
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="submit-form-wrapper bg-name-seashell">
                        <!-- Start Section Content -->
                        <div class="content">
                            <h2 class="title" data-aos="fade-up" data-aos-duration="1100">Make an appoinment.</h2>
                            <p data-aos="fade-up" data-aos-duration="1800">We will send you a confirmation within 24 hours.</p>
                        </div>
                        <!-- End Section Content -->

                        <!-- Start Contact Form Box -->
                        <div class="contact-form-box">
                            <form id="contact-form" class="default-form contact-form" action="#" method="post">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1100">
                                        <div class="default-form-group">
                                            <input name="name" type="text" placeholder="Name :" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="default-form-group">
                                            <input name="phone" type="tel" placeholder="Phone :" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1300">
                                        <div class="default-form-group">
                                            <input name="email" type="email" placeholder="Email :" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1400">
                                        <div class="default-form-group">
                                            <select class="form-select">
                                                <option selected>Department</option>
                                                <option>Diabetology</option>
                                                <option>Gastroenterology</option>
                                                <option>Nuclear Medicine</option>
                                                <option>Microbiology</option>
                                                <option>Oncology</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="default-form-group date-calender">
                                            <input class="date-pic" type="text" placeholder="Date :" required="required" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 m-b-30" data-aos="fade-up" data-aos-duration="1600">
                                        <div class="default-form-group">
                                            <select class="form-select">
                                                <option selected>Doctor's</option>
                                                <option>Prof. Dr. Slaveto Jhon</option>
                                                <option>Dr. Mexbunt Mina</option>
                                                <option>Dr. Alex Betty</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 m-b-30" data-aos="fade-up" data-aos-duration="1700">
                                        <div class="default-form-group">
                                            <textarea name="message" placeholder="Comment" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 m-t-20" data-aos="fade-up" data-aos-duration="1800">
                                        <div class="default-form-group d-flex justify-content-center">
                                            <a href="#/" class="btn btn-outline-success btn-hover-success">Submit Now<i class="icofont-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- End Contact Form Box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Submit Form Section End -->

    <!-- Team Section Start -->
    <div class="section section-margin-top">
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up" data-aos-duration="1500">
                    <div class="section-title text-center">
                        <h2 class="title">Professional Doctors</h2>
                        <div class="border-wrap">
                            <span class="title-border border-color-1"></span>
                            <span class="title-border border-color-2"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center m-b-n30">

                <div class="col-lg-6 m-b-30" data-aos="fade-up" data-aos-duration="2400">

                    <!-- Single Team Start -->
                    <div class="single-team team-bg-seashell">

                        <!-- Team Thumb Start -->
                        <div class="team-thumb">
                            <img class="fit-image" src="assets/images/team/3.jpg" alt="Team Image">
                        </div>
                        <!-- Team Thumb End -->

                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h2 class="title">Magali Mcintire</h2>
                            <h4 class="subtitle">Cardiology Specialist</h4>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industryS standard.</p>
                            <div class="social-share">
                                <span class="social-title">Follow Now:</span>
                                <ul>
                                    <li><a href="#/"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#/"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#/"><i class="icofont-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Content End -->

                    </div>
                    <!-- Single Team End -->

                </div>

                <div class="col-lg-6 m-b-30" data-aos="fade-up" data-aos-duration="2400">

                    <!-- Single Team Start -->
                    <div class="single-team team-bg-seashell">

                        <!-- Team Thumb Start -->
                        <div class="team-thumb">
                            <img class="fit-image" src="assets/images/team/4.jpg" alt="Team Image">
                        </div>
                        <!-- Team Thumb End -->

                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h2 class="title">Alease England</h2>
                            <h4 class="subtitle">Cardiology Specialist</h4>
                            <p>Lorem Ipsum simply dummy text printing and typesetng industry has been industryS standard.</p>
                            <div class="social-share">
                                <span class="social-title">Follow Now:</span>
                                <ul>
                                    <li><a href="#/"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#/"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#/"><i class="icofont-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Content End -->

                    </div>
                    <!-- Single Team End -->

                </div>

            </div>
        </div>
    </div>
    <!-- Team Section End -->

    <!-- Appoinment Section Start -->
    <div class="section section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-items-center">
                    <div class="appoinment-section bg-name-success">
                        <div class="layer-4 shape-5"></div>
                        <div class="layer-4 shape-6"></div>
                        <div class="layer-4 shape-7"></div>
                        <div class="appoinment-wrapper">
                            <div class="appoinment-content" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="title">You can contact for appoinment.</h2>
                            </div>
                            <div class="appoinment-info-wrapper">
                                <div class="contact-info" data-aos="flip-left" data-aos-duration="2000">
                                    <div class="icon-box">
                                        <i class="round-shape round-shape-negative icofont-ui-call"></i>
                                    </div>
                                    <div class="info">
                                        <h5 class="title">Call us:</h5>
                                        <a class="number" href="tel:+0089458648">+00 89 458 648</a>
                                    </div>
                                </div>
                                <div class="contact-info" data-aos="flip-right" data-aos-duration="2000">
                                    <div class="icon-box">
                                        <i class="round-shape icofont-envelope-open"></i>
                                    </div>
                                    <div class="info">
                                        <h5 class="title">Email us:</h5>
                                        <a class="number" href="mailto:neonal@gmail.com">neonal@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Appoinment Section End -->


    <%- include('./footer/footer'); -%>
  