<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Neonal - Medical Service Bootstrap 5 Template</title>
    
        <!-- Favicons -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
    
        <!-- Vendor CSS (Icon Font) -->
    
        <!-- 
        <link rel="stylesheet" href="assets/css/vendor/icofont.min.css" />
        <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" /> 
        -->
    
        <!-- Plugins CSS (All Plugins Files) -->
    
        <!-- 
        <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
        <link rel="stylesheet" href="assets/css/plugins/animate.min.css" />
        <link rel="stylesheet" href="assets/css/plugins/aos.min.css" />
        <link rel="stylesheet" href="assets/css/plugins/splitting.min.css" />
        <link rel="stylesheet" href="assets/css/plugins/nice-select.min.css" />
        <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css" />
        <link rel="stylesheet" href="assets/css/plugins/magnific-popup-min.css" /> 
        -->
    
        <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    
        
        <link rel="stylesheet" href="/assets/css/vendor/vendor.min.css">
        <link rel="stylesheet" href="/assets/css/plugins/plugins.min.css">
        <link rel="stylesheet" href="/assets/css/style.min.css">  
    
    
        <!-- Main Style CSS -->
    
        <!-- 
        <link rel="stylesheet" href="assets/css/style.css" /> 
        -->
    
    </head>

<body>

    <!-- Header Section Start -->
    <div class="header">
        <div class="sticky-header">
            <div class="header-container container">
                <div class="header-wrapper">

                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="index.html"><img src="/assets/images/logo/logo.png" alt="Logo"></a>
                    </div>
                    <!-- Header Logo End -->

                    <!-- Header Menu Start -->
                    <div class="main-menu d-none d-lg-flex">
                        <ul>
                            <li><a class="active" href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li class="has-children"><a href="/service">Service</a></li>
                            <li class="has-children">
                                <a href="/gallery">Gallery</a>
                            </li>
                            <li class="has-children">
                                <a href="/blog">Blog</a>
                            </li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Header Menu End -->

                    <!-- Header Actions Start -->
                    <div class="header-actions">

                        <!-- Appoinment Button Start -->
                        <div class="appoinment-button">
                            <a href="/contact" class="btn btn-outline-success btn-hover-success">Appoinment<i class="icofont-calendar"></i></a>
                        </div>
                        <!-- Appoinment Button End -->

                        <!-- Mobile Menu Hambarger Action Button Start -->
                        <a class="header-action-btn header-action-btn-menu d-lg-none d-md-flex" href="#/">
                            <i class="icofont-navigation-menu"></i>
                        </a>
                        <!-- Mobile Menu Hambarger Action Button End -->

                    </div>
                    <!-- Header Actions End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Header Section End -->
